body{


  background-color: lightblue;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?);
/* https://tgeorgievblog.files.wordpress.com/2017/05/logo-512.png */
}

/* #guessingBox {

  width: 20px;
  height: 25px; */


#guessingLetter{
  margin: 0  auto;
  width: 20px;
  height: 25px;
  border-bottom:solid;
  border-color: lightskyblue;
  display: inline;
  text-align: center;
  /*padding-right: 200px;*/
  color: black;
  text-decoration: underline;
  align-items: center;
  background-color:gray;
  margin-bottom: 20px;
  
} 

#inputTextBox{
  margin-top: 10px;  
  margin-bottom: 10px;
}

#result {
  display: inline-block;
}

.button{
  background-color: lightgray;
  border: .5px  ;
  transition-duration: 0.6s;
  width: 150px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 45px;
  border-radius: 5%;
  font-family: 'Times New Roman', Times, serif;
 
}

body{
  text-align: center;
}

.img1{

  height: 300px;
  width: 300px;
  margin: 0 auto;
 /* padding-left: 500px;*/
}

.button:hover{

  background-color:gray
}
/* 
h1{
  text-align: center;
 font-family: 'Times New Roman', Times, serif;
 color:whitesmoke;
 
 background-color:black;
 opacity: 0.5;

} */

.typewriter h1 {
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .10em; 
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
  text-align: center;
  
  margin-top: 50px;
  color: darkslategray;


  text-shadow: 10px gold;
  
  
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:lightblue}
}

.typewriter::selesction {

 
}

.letter{


/* position:absolute; */


/* padding-left:  70px;
padding-top: 15px; */
width: 150px;
height: 50px;
text-align: center;
font-size: 1.3em;
margin: 0 auto;
/*padding-left: 20px;*/


}

#textBox{

  text-align: center;
  margin-bottom: 10px
}
h3{

  text-align: center;
  opacity: 0.4;

}

li{


  display: inline-block;
}

.center{
    margin: 0 auto;

    /*padding-left: 200px;*/
    text-align: center;
}


#footer{

 margin: 0;
}

#progress{
    width: 200px;
    height: 100px;

  margin: 0 auto;


}